* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #b91450;
  width: 100%;
  height: 100vh;
}

header h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.container-uno {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  width: 70%;
  min-height: 30%;
}

.container-info {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  padding-bottom: 2%;
}

.container-info h3 {
  color: #b91450;
  text-align: center;
}

input[type="text"],
select {
  border-radius: 5px;
  border: 1px solid #b91450;
  padding: 5px 10px;
}

.container-bars {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4%;
}

.container-buttons {
  display: flex;
  justify-content: center;
}

#genera,
#annulla {
  margin: 2%;
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 10px;
  color: #b91450;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

#container-risultato {
  display: none;
  background-color: white;
  border-radius: 20px;
  margin: 5% auto;
  width: 70%;
  min-height: 30%;
  padding: 1% 3%;
}

.risultato-flex {
  display: flex;
  justify-content: center;
}

.risultato-left {
  width: 30%;
  height: 200px;
  background-color: lightgrey;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.risultato-left img {
  height: 100px;
  align-self: center;
}

.risultato-right {
  width: 70%;
  height: 200px;
  background-color: white;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.risultato-row {
  float: left;
  width: 25%;
}

.risultato-column:after {
  content: "";
  display: table;
  clear: both;
}

.risultato-column {
  margin-top: 50px;
}
